<div id="header-desktop">
                <div class="top-menu">
                    <div class="grid-container"> <a href="javascript:void(0)" class="skipnav offscreen grid-back">
							Skip Navigation
					</a> <a href="&lt;CBOLURL&gt;" target="_blank" class="grid-back omniture-header-citi"><i class="icon icon_caret-left"></i> CITI</a>
                        <nav class="megamenu support-menu " role="navigation">
                            <div class="accessible-megamenu">
                                <div class="help accessible-megamenu-top-nav-item">
                                    <h3><a href="#" id="accessible-megamenu-1523688407876-1" aria-haspopup="true" aria-controls="accessible-megamenu-1523688407876-2" aria-expanded="false">HELP <i class="icon icon_caret-down"></i></a></h3>
                                    <div class="cols-1 help-faq accessible-megamenu-panel" id="accessible-megamenu-1523688407876-2" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1523688407876-1"> <a href="&lt;EpsilonURL&gt;/help.jspx">FAQs</a> </div>
                                </div>
                            </div>
                        </nav> <a href="#" class="contact">contact us</a> </div>
                </div>
                <div id="bluewave-header" class="bluewave ">
                    <div class="grid-container">
                        <a href="&lt;EpsilonURL&gt;" class="logo-desktop-brand"><img src="/content/dam/citi/img/Citi-Thankyou.png" alt="Citi Thank you Logo"></a>
                    </div>
                </div>
                <div class="grid-container grid-container-menus">
                    <nav class="megamenu main-menu clearfix" role="navigation">
                        <ol class="main-menu-ol accessible-megamenu clearfix">
                            <li id="mainmenu-merchandise" class="accessible-megamenu-top-nav-item">
                                <h2><a href="#" class="omniture-header-merchandise" id="accessible-megamenu-1523688407882-3" aria-haspopup="true" aria-controls="accessible-megamenu-1523688407882-4" aria-expanded="false"><span>Merchandise</span></a></h2>
                                <div class="grid-container accessible-megamenu-panel" id="accessible-megamenu-1523688407882-4" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1523688407882-3">
                                    <ul>
                                        <li class="accessible-megamenu-panel-group grid-25 menu-list">
                                            <ul>
                                                <li><a href="#">Apparel</a></li>
                                                <li><a href="#">Baby</a></li>
                                                <li><a href="#">Bags and Luggage PLP</a></li>
                                                <li><a href="#">Beauty</a></li>
                                                <li><a href="#">Bed and Bath</a></li>
                                                <li><a href="#">Books</a></li>
                                            </ul>
                                        </li>
                                        <li class="accessible-megamenu-panel-group grid-25 menu-list">
                                            <ul>
                                                <li><a href="#">Computers, iPads and Tablets</a></li>
                                                <li><a href="#">Electronics</a></li>
                                                <li><a href="#">Food and Drink</a></li>
                                                <li><a href="#">Home and Garden</a></li>
                                                <li><a href="#">Jewellery</a></li>
                                                <li><a href="#">Kitchen</a></li>
                                            </ul>
                                        </li>
                                        <li class="accessible-megamenu-panel-group grid-25 menu-list">
                                            <ul>
                                                <li><a href="#">Magazine Subscriptions</a></li>
                                                <li><a href="#">Musical Instruments</a></li>
                                                <li><a href="#">Office Products</a></li>
                                                <li><a href="#">Sporting Goods</a></li>
                                                <li><a href="#">Tools</a></li>
                                                <li><a href="#">Toys</a></li>
                                            </ul>
                                        </li>
                                        <li class="accessible-megamenu-panel-group grid-25 menu-list">
                                            <ul>
                                                <li><a href="#">Video Game Hardware</a></li>
                                                <li><a href="#">Watches</a></li>
                                                <li><a href="#" class="panel-link-more">See All Brands »</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="mainmenu-cashrewards" class="accessible-megamenu-top-nav-item">
                                <h2><a href="#" id="accessible-megamenu-1523688407888-5" aria-haspopup="true" aria-controls="accessible-megamenu-1523688407888-6" aria-expanded="false" class=""><span class="">Vouchers and Cash</span></a></h2>
                                <div class="grid-container accessible-megamenu-panel" id="accessible-megamenu-1523688407888-6" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1523688407888-5">
                                    <ul>
                                        <li class="accessible-megamenu-panel-group grid-50 menu-list">
                                            <ul>
                                                <li id=""><a href="#" class="">Vouchers</a></li>
                                                <li id=""><a href="#">Annual Fee Credit</a></li>
                                                <li id=""><a href="#" class="panel-link-more">See All »</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="mainmenu-travel" class="accessible-megamenu-top-nav-item">
                                <h2><a href="#" class="omniture-header-travel" id="accessible-megamenu-1523688407891-7" aria-haspopup="true" aria-controls="accessible-megamenu-1523688407891-8" aria-expanded="false"><span>Travel</span></a></h2>
                                <div class="grid-container accessible-megamenu-panel" id="accessible-megamenu-1523688407891-8" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1523688407891-7">
                                    <ul>
                                        <li class="accessible-megamenu-panel-group grid-33 menu-list">
                                            <ul>
                                                <li id=""><a href="#">Points Transfer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="mainmenu-instantrewards" class="accessible-megamenu-top-nav-item">
                                <h2><a href="#" id="accessible-megamenu-1523688407896-9" aria-haspopup="true" aria-controls="accessible-megamenu-1523688407896-10" aria-expanded="false"><span>Shop at Partners</span></a></h2>
                                <div class="grid-container accessible-megamenu-panel" id="accessible-megamenu-1523688407896-10" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1523688407896-9">
                                    <ul>
                                        <li class="accessible-megamenu-panel-group grid-33 menu-list">
                                            <ul>
                                                <li id=""><a href="#">Shop with Points</a></li>
                                                <li id=""><a href="#">About Pay with Points</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="mainmenu-offersprivileges" class="accessible-megamenu-top-nav-item">
                                <h2><a href="#" id="accessible-megamenu-1523688407899-11" aria-haspopup="true" aria-controls="accessible-megamenu-1523688407899-12" aria-expanded="false" class=""><span class="">Offers and Privileges</span></a></h2>
                                <div class="grid-container accessible-megamenu-panel" id="accessible-megamenu-1523688407899-12" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1523688407899-11">
                                    <ul>
                                        <li class="accessible-megamenu-panel-group grid-50 menu-list">
                                            <ul>
                                                <li id=""><a href="#">Citi World Privileges</a></li>
                                                <li id=""><a href="#">Local Offers</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ol>
                    </nav>
                    <div class="secondary-menu clearfix">
                        <div id="desktop-header-search">
                            <a href="#" role="button" class="control" aria-controls="desktop-search-form" aria-expanded="false"> <span>gr.common.search</span><i class="icon icon_search hide-search"></i> </a>
                            <form action="" id="desktop-search-form" aria-expanded="false" aria-hidden="false" role="search" novalidate="">
                                <fieldset>
                                    <legend>gr.common.search</legend> <label for="search">gr.common.search</label> <input id="search" class="nohover" type="text" title="Search Rewards" aria-label="Search Rewards" value="" placeholder="Search Rewards">
                                    <a href="#" class="icon-fix-underline" role="button" title="Search Rewards" aria-controls="search"> <span class="visuallyhidden">Search the website</span> <i class="icon icon_search nohover"></i> </a>
                                </fieldset>
                            </form>
                        </div>
                        <div id="header-cart-default" class="">
                            <a class="header-cart omniture-header-cart" href=" #" aria-label="[dynamic numeric value] items in cart"> <i class="icon icon_cart"></i> <span id="pub-cart-value" class="pub-value-cart">
					
					                0
					
					            <span class="pub-cart-text">Cart</span> </span>
                            </a>
                        </div>
                        <div id="account-menu-logged-out"> <a href="#" role="button">Check your point balance and redeem for rewards »</a> </div>
                        <div id="header-signon"> <a href="#" class="omniture-header-login" role="button">Sign On</a> </div>
                    </div>
                </div>
            </div>