<footer id="footer" class="section anon activated">
                <div class="grid-container footer">
                    <div class="citi"> <img src="/content/dam/citi/img/Citi.png" alt="Citi logo"> </div>
                    <nav class="clearfix">
                        <ul>
                            <li> <a href="#" class="omniture-footer-link">Citi ThankYou Rewards Terms &amp; Conditions</a> </li>
                            <li> <a href="#" class="omniture-footer-link">Privacy</a> </li>
                            <li> <a href="#" class="omniture-footer-link">Security</a> </li>
                            <li> <a href="#" class="omniture-footer-link">Terms &amp; Conditions</a> </li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                    <hr class="clearfix">
                    <p class="copyright clearfix">Copyright © 2017 Citigroup Inc.</p>
                    <p class="copyright clearfix">Citi.com is the global source of information about and access to financial services provided by the Citigroup family of companies.</p>
                </div>
            </footer>