<div data-sly-use.multiItems="com.epsilon.aem.citirewards.core.TouchMultiComponent">
<div data-sly-list.head="${multiItems.multiFieldItems}">

	<div class="grid-container slider-module slider-home-product slider-no-dots-padding" data-slick="">
		<a data-modal="" data-card-title="" data-card-image="${head.image}" class="grid-25 grid-mobile-50 shop-category omniture-slider-item" href="${head.link}"> <img class="slider-img" src="${head.image}" alt="" /> <span class="slider-category">${head.product}</span> </a>

	</div>
</div>
</div>

