<section id="shop" class="homepage-shop-alt section grid-container category clearfix ">
    <div class="section-header grid-100">
        <h2>${properties.heading}</h2>
        <p>${properties.subheading}<span>|</span><a class="cta test" href="${properties.linkHref}">${properties.linkLabel}</a>
		</p>
		
		<div class="grid-container slider-module slider-home-product slider-no-dots-padding" data-slick="">
	<a data-modal="" data-card-title="" data-card-image="${properties.fileReference}" class="grid-25 grid-mobile-50 shop-category omniture-slider-item" href="#"> <img class="slider-img" src="${properties.fileReference}" alt="" /> <span class="slider-category">Home</span> </a>
	<a data-modal="" data-card-title="" data-card-image="/content/dam/citi/img/bigscreen.jpg" class="grid-25 grid-mobile-50 shop-category omniture-slider-item"
		href="#"> <img class="slider-img" src="/content/dam/citi/img/bigscreen.jpg" alt="" /> <span class="slider-category">Electronics</span> </a>
	<a data-modal="" data-card-title="" data-card-image="/content/dam/citi/img/watch.png" class="grid-25 grid-mobile-50 shop-category omniture-slider-item"
		href="#"> <img class="slider-img" src="/content/dam/citi/img/watch.png" alt="" /> <span class="slider-category">Watches</span> </a>
	<a data-modal="" data-card-title="" data-card-image="/content/dam/citi/img/purse.png" class="grid-25 grid-mobile-50 shop-category omniture-slider-item"
		href="#"> <img class="slider-img" src="/content/dam/citi/img/purse.png" alt="" /> <span class="slider-category">Bags and Luggage</span> </a>
	<a data-modal="" data-card-title="" data-card-image="/content/dam/citi/img/scale.png" class="grid-25 grid-mobile-50 shop-category omniture-slider-item"
		href="#"> <img class="slider-img" src="/content/dam/citi/img/scale.png" alt="" /> <span class="slider-category">Well-being</span> </a>
	<a data-modal="" data-card-title="" data-card-image="/content/dam/citi/img/duck.png" class="grid-25 grid-mobile-50 shop-category omniture-slider-item"
		href="#"> <img class="slider-img" src="/content/dam/citi/img/duck.png" alt="" /> <span class="slider-category">Children</span> </a>
	<a data-modal="" data-card-title="" data-card-image="/content/dam/citi/img/gift-vouchers.png" class="grid-25 grid-mobile-50 shop-category omniture-slider-item"
		href="#"> <img class="slider-img" src="/content/dam/citi/img/gift-vouchers.png" alt="" /> <span class="slider-category">Vouchers</span> </a>
	</div>
    </div>
</section>