<section id="travel" class="homepage-travel section bg-select-and-credit-my">
                        <div class="background">
                            <div class="the-background" id="travel-bg"></div>
                        </div>
                        <div class="section-gradient"></div>
                        <div class="grid-container">
                            <div class="section-header grid-100 travel-header-default">
                                <h1 id="travel-header-default" class="travel-header-default">Shrink your bill.</h1>
                                <div id="travel-subtitle-default" class="">
                                    <div>Convert your points to pay for recent purchases in select categories made with an eligible Citi credit card.</div>
                                </div> <a id="signon-cta" class="btn btn-small" href="#" role="button">LEARN MORE</a> </div>
                            <div class="travel-header-default"> </div>
                        </div>
                        <!-- eo grid-container -->
                    </section>